<section id="banner" class="clearfix">
	<div id="banner_content_wrapper">
		<h2 class="title">Move Me There</h2>
		<p class="description">
			Let us help to move you where you want to go without you lifting a finger.
		</p>
	</div>
</section>

<section id="top_cities" class="clearfix">
	<div class="wrapper">	
		<header class="clearfix">
			<h2>Top Cities</h2>
			<a class="view_more" href="cities#index">
				View More...
			</a>
		</header>
		<div class="row">
			<div class="city">
			<a href="cities#index">
				<img src="<%= asset_path('newyork.jpg') %>" alt="New York" />
				<h3 class="city_name">New York</h3>
				<p class="city_description">The Big Apple</p>
			</a>
			</div>
			<div class="city">
				<img src="<%= asset_path('dallas.jpg') %>" alt="Dallas" />
				<h3 class="city_name">Dallas</h3>
				<p class="city_description">The Metroplex</p>
			</div>
			<div class="city">
				<img src="<%= asset_path('chicago.jpg') %>" alt="Chicago" />
				<h3 class="city_name">Chicago</h3>
				<p class="city_description">The Windy City</p>
			</div>
			<div class="city">
				<img src="<%= asset_path('losangeles.jpg') %>" alt="Los Angeles" />
				<h3 class="city_name">Los Angeles</h3>
				<p class="city_description">City of Angels</p>
			</div>
			<div class="city">
				<img src="<%= asset_path('honolulu.jpg') %>" alt="Honolulu" />
				<h3 class="city_name">Honolulu</h3>
				<p class="city_description">The Aloha State</p>
			</div>
		</div>
	</div>
</section>
<section id="newsletter" class="clearfix">
	<div class="newsletter_inner">
		<h2> Get the newsletter from us</h2>
		<div class="sign_up_form">
			<input type="text" placeholder="First Name" />
			<input type="email"	placeholder="Email" />
			<button>Subscribe</button>

		</div>
	</div>
</section>
